.container{
  max-width: 1200px;
  margin: 0 auto;
  /* border: 3px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 75px;
  position: relative;
}
.display{
  width: 100%;
  min-height: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 3px solid blue; */
  margin-bottom: 75px;
}
.d-1{
  display: flex;
  gap: 10px;
  /* border: 3px solid gold; */
  margin-bottom: 20px;
}
.d-2{
  display: flex;
  gap: 10px;
  /* border: 3px solid gold; */
}
.d-item{
  width: 50px;
  height: 50px;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
  align-self: center;
  align-content: center;
  background-color: lightcoral;
  border-radius: 7px;
  color: #fff;
  font-weight: 500;
  line-height: normal;
  font-size: 32px;
}
.key-wrap{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  /* border: 3px solid gold; */
  gap: 20px;
  width: 100%;
  margin-bottom: 30px;
}
.key{
  border: 0;
  cursor: pointer;
  display: inline-block;
  background-color: rgb(233, 189, 136) ;
  padding: 8px 15px;
  border-radius: 7px;
  color: #333;
  font-weight: 500;
  font-size: 40px;
}
.disabled{
  opacity: 0.5;
}
.next-c{
  position: absolute;
  width: 300px;
  font-size: 20px;
  font-weight: 700;
  color: #333;
  padding: 10px 12px;
  border-radius: 8px;
  background-color: #e9bd88;
  border: 2px ridge #e9bd88;
  cursor: pointer;
  text-transform: capitalize;
  transition: 0.2s ease;
}
.next-c:hover{
  background-color:  #f2b56b;
}
.score{
  position: absolute;
  top: 10px;
  left: 20px;
  width: 100px;
  background-color: #b8aa99;
  text-align: center;
  padding: 10px 0;
  border-radius: 8px;
  color: #fff;
  font-size: 28px;
}
.survive{
  position: absolute;
  display: flex;
  top: 10px;
  right: 20px;
  gap: 10px;
  /* border: 3px solid red; */
}
.survive img{
  width: 30px;
  height: 30px;
}